/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
/* inter-100 - latin */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('../../../assets/font/inter-v11-latin-100.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../../assets/font/inter-v11-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../../assets/font/inter-v11-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../../assets/font/inter-v11-latin-100.woff') format('woff'), /* Modern Browsers */
         url('../../../assets/font/inter-v11-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../../assets/font/inter-v11-latin-100.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-200 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('../../../assets/font/inter-v11-latin-200.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../../assets/font/inter-v11-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../../assets/font/inter-v11-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../../assets/font/inter-v11-latin-200.woff') format('woff'), /* Modern Browsers */
         url('../../../assets/font/inter-v11-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../../assets/font/inter-v11-latin-200.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-300 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../../../assets/font/inter-v11-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../../assets/font/inter-v11-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../../assets/font/inter-v11-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../../assets/font/inter-v11-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../../../assets/font/inter-v11-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../../assets/font/inter-v11-latin-300.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-regular - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../../../assets/font/inter-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../../assets/font/inter-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../../assets/font/inter-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../../assets/font/inter-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../../assets/font/inter-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../../assets/font/inter-v11-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-500 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../../../assets/font/inter-v11-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../../assets/font/inter-v11-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../../assets/font/inter-v11-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../../assets/font/inter-v11-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../../../assets/font/inter-v11-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../../assets/font/inter-v11-latin-500.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-600 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../../../assets/font/inter-v11-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../../assets/font/inter-v11-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../../assets/font/inter-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../../assets/font/inter-v11-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../../../assets/font/inter-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../../assets/font/inter-v11-latin-600.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v11-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inter-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v11-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inter-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inter-v11-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-800 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v11-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inter-v11-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v11-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v11-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inter-v11-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inter-v11-latin-800.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-900 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v11-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inter-v11-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v11-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v11-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inter-v11-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inter-v11-latin-900.svg#Inter') format('svg'); /* Legacy iOS */
  }
/* latin */
@font-face {
    font-family: 'Calibri';
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/l/font?kit=J7adnpV-BGlaFfdAhLQo6btPMDoTpA&skey=36a3d5758e0e2f58&v=v15) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Calibri';
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/l/font?kit=J7aYnpV-BGlaFfdAhLQgUp5aHRgejiMIKQ&skey=8b00183e5f6700b6&v=v15) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/l/font?kit=J7afnpV-BGlaFfdAhLEY67FIEjg&skey=a1029226f80653a8&v=v15) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/l/font?kit=J7aanpV-BGlaFfdAjAo9_pxqHxIZrCE&skey=cd2dd6afe6bf0eb2&v=v15) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #0072CE;

$mainFontSize: 42px;
$mainFont: 'Inter', Helvetica, sans-serif;
$headingFont: 'Inter', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #017afe;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 1.3em;
$heading2Size: 1.2em;
$heading3Size: 1em;
$heading4Size: 1.0em;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------



.header-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;

    .reveal h1 {
        margin: 0;
    }
}
.logo-container {
    display: flex;
    width: 100%;
    margin: 0 45px;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    max-height: 100vh;
        img {
            height: 120px;
            max-width: 33%;
        }
}

.content-wrapper {
    display: none;
}


#slide1 {
    .header-wrapper {
        .left-box {

            display: flex;
            background: #0072CE;
            height: 100%;
            min-width: 35%;
            position: relative;
            flex-direction: column;
            margin-top: -50px;
            padding-top: 50px;
            margin-left: -50px;
            padding-left: 50px;
            align-items: center;
            justify-content: flex-end;

            .left-box-head {
                height: 20%;
                display: flex;
                align-items: flex-end;
                color: white;
                text-transform: uppercase;
                font-weight: 300;
                position: relative;
                right: 25px;
                font-size: 35%;
                width: 100%;
                letter-spacing: 9px;
                justify-content: flex-end;
                text-align: right;
                padding: 15px;
            }

            .left-box-body{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    position: relative;
                    align-items: center;
                    justify-content: flex-end;
                    height: 80%;
                svg {
                    position: relative;
                    left: 50px;
                    max-width: 80%;
                    max-height: 80%;
                    transform: scale(1.35);
                    filter: drop-shadow(3px -5px 8px rgb(0 113 205 / 0.65));
                }
                span {
                    color: white;
                    transform: rotate(-90deg);
                    transform-origin: left;
                    font-weight: 200;
                    font-size: 53%;
                    letter-spacing: 8px;
                    position: relative;
                    left: 45px;
                    width: 20%;
                }
            }
        }
    }
    .logo-container {
        flex-direction: column;
    }
}
.mainlist {
    display: flex;
    text-align: center;
    list-style: none;
    max-width: 80vw;
    li {
        display: flex;
        list-style: none;
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        max-width: 80vw;
    }

}
.product-container {
    img {
        height: 70%;
    }
}

ul.ulist {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    flex-direction: column;
    margin-top: 150px;
    gap: 50px;
    font-weight: 700;
    li {
        display: inline-flex;
        flex-wrap: nowrap;
        max-width: 70%;
        justify-content: center;
        height: 100px;
        align-items: center;
        gap: 45px;
        font-size: 50px;
        color: hsl(219deg 100% 54%);
    }
}

#bg-f {
    canvas {
        z-index: -1 !important;
        left: 68px !important;
        width: 100% !important;
        height: 100% !important;
        max-width: 100%;
        max-height: 100%;
        opacity: 0.33;
    }
}
#slide2, #slide3, #slide4 {
    .header-wrapper {
        height: 18vh;
    }
    .logo-container {
        max-height: 100px;
        justify-content: space-between;
        .logo-stack {
            display: inline-flex;
            gap: 35px;
            justify-content: space-between;
            height: 100%;
        
            img {
                height: 100%;
                max-width: 33%;
                margin: 0;
            }
        }
    }
    .content-wrapper {
        display: flex;
        position: relative;
        background-size: cover;
        gap: 10%;
        height: 70vh;
        justify-content: center;
        align-items: center;
 
        img {
            max-height: 100%;
            max-width: 45%;
            z-index: 3;

        }
    }
}

#slide3 {
    .header-wrapper {
        position: relative;
        background: white;
        border-radius: 30px 30px 0px 0px;
        box-shadow: 0px 0px 9px 4px #0071cd3b;

        .logo-container {
            align-items: start;
        }
        
        #headersvg {
            position: absolute;
            fill: white;
            height: 100px;
            width: 100%;
            bottom: -100px;
        }
    }
}


@keyframes blobMove {
    0% {

        border-top-left-radius: 105px 90px;
        border-top-right-radius: 80px 95px;
        border-bottom-left-radius: 70px 90px;
        border-bottom-right-radius: 120px 90px;
    }
    65% {
        border-top-left-radius: 125px 100px;
        border-top-right-radius: 95px 105px;
        border-bottom-left-radius: 110px 95px;
        border-bottom-right-radius: 90px 110px;
    }
    100% {
        border-top-left-radius: 105px 120px;
        border-top-right-radius: 100px 90px;
        border-bottom-left-radius: 70px 90px;
        border-bottom-right-radius: 110px 90px;
    }
  }
.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 30px;
    min-width: 110px;
    border-radius: 6px;
    box-shadow: -5px 8px 15px 1px #0071cd;
    height: 110px;
    border-top-left-radius: 105px 90px;
    border-top-right-radius: 80px 95px;
    border-bottom-left-radius: 70px 90px;
    border-bottom-right-radius: 120px 90px;
    animation: blobMove 3.5s ease-in-out 2s alternate infinite;

    img {
        margin: 0;
        max-width: 100px;
    }
}
.ppi {
    font-family: 'Calibri';
    font-weight: 700;
    color: $headingColor;
    div {
        margin-top: 15px;
        display: flex;
        gap: 30px;
        
    }
    span {
        background: white;
        border-radius: 50%;
        display: inline-flex;
        height: 100px;
        width: 100px;
        text-align: center;
        justify-content: center;
        align-items: center;
        box-shadow: -5px 8px 15px 1px #0071cd;
        border-top-left-radius: 105px 90px;
        border-top-right-radius: 80px 95px;
        border-bottom-left-radius: 70px 90px;
        border-bottom-right-radius: 120px 90px;
        animation: blobMove 3.5s ease-in-out 2s alternate infinite;
    }
}

.ppi.gdpr {
    flex-direction: column;
    span {
        width: 150px;
        height: 150px;
        font-size: 3rem;
    }
}

section[data-fragment="0"] .mainlist h2[data-fragment-index="1"], .reveal h2.active  {
    color: #017afe;
}



@media only screen and (max-width: 1200px) {
    
    .reveal h1 {
        font-size: 5rem;
    }
    .reveal h2 {
        font-size: 2.6rem;
    }

    ul.ulist {
        li {
            font-size: 1.2rem;
        }
    }
}

@media only screen and (max-width: 680px) {

    
    #slide3 .header-wrapper .logo-container {
        align-items: center;
    }
    
    #slide3 .logo-container .logo-stack {
        gap: 0px;
        justify-content: space-around;
    }
    
    .reveal h1 {
        font-size: 2rem;
    }
    .reveal h2 {
        font-size: 1.8rem;
    }
    ul.ulist {
        li {
            flex-direction: column;
            font-size: 1.2rem;
        }
    }
}

@media only screen and (max-width: 380px) {
    
    .reveal h1 {
        font-size: 1.6rem;
    }
    .reveal h2 {
        font-size: 1.8rem;
    }

}